# ignorar los archivos que coincidan con los siguientes patrones 

# temporales
~*
tmp/
temp/
*.tmp
*.bak

# fuentes de angular
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
